@{
    Layout = "~/Views/Shared/Ordinary.cshtml";
    ViewData["Title"] = "FriendshipLinkAdd";
}
@section css{
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/public.css" rel="stylesheet" />
}
<div style="padding:20px;">
    <form class="layui-form" style="width:80%;">
        <input type="hidden" class="friendshipLinkId" />
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">网站名称<i style="color:red;">*</i></label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input friendshipLinkName" lay-verify="friendshipLinkName" placeholder="请输入网站名称" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">网站地址<i style="color:red;">*</i></label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input friendshipLinkUrl" lay-verify="friendshipLinkUrl" placeholder="请输入网站地址" />
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">站长邮箱<i style="color:red;">*</i></label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input friendshipLinkEmail" lay-verify="friendshipLinkEmail" placeholder="请输入站长邮箱" />
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label">备注<i>&nbsp;</i></label>
                <div class="layui-input-block">
                    <textarea placeholder="备注" class="layui-textarea note"></textarea>
                </div>
            </div>
        </div>
        <input type="text" style="display:none;" class="userId">
        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-input-block">
                @Html.AntiForgeryToken()
                <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addFriendshipLink">保存</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="~/lib/main.js"></script>
<script src="~/lib/require/require.js" data-main="../js/Areas/BlogManager/FriendshipLink/FriendshipLinkAdd"></script>
