@{
    Layout = "~/Views/Shared/Ordinary.cshtml";
    ViewData["Title"] = "菜单管理";

}
@section css{
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
}

<div style="padding:20px;">

</div>
<script src="~/lib/layui/layui.js"></script>
<script src="~/js/Areas/SystemManager/Role/"></script>